@model TMSWebPortal.Models.InsurancePool.VehicleInsurance

@{
    ViewData["Title"] = "GetVehicleDetails";
}
 

<div class="">
    <div class="">
        <div class="">
            <div class="row">

                <div class="col-md-2 mb-4">
                </div>

                <div class="col-md-8 mb-4">
                    <div class="outer-div">
                        <div class="card">
                            <div class="card-body col-md-12">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead class="index-thead">
                                        <tr>
                                            <th>Registration Number</th>
                                            <th>Date Effective Number</th>
                                            <th>Expiry Date</th>
                                            <th>Insured With</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => modelItem.RegistrationNumber)</td>
                                            <td>@Html.DisplayFor(modelItem => modelItem.DateEffective)</td>
                                            <td>@Html.DisplayFor(modelItem => modelItem.ExpiryDate)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => modelItem.IssuedBy)
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <a class="btn btn-raised btn-success btn-sm waves-float" asp-action="Index" asp-controller="Home">
                                        Home
                                    </a>
                                    <a class="btn btn-raised btn-success btn-sm waves-float" asp-action="GetCrimes" asp-controller="Crimes" asp-route-id="@Model.RegistrationNumber">
                                        Get Crimes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                </div>
            </div>
        </div>
    </div>
</div>
