@model TMSWebPortal.DTO.DriverLicenseDTO
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="~/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="~/demo/demo.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
@*<button  class="">
        <i asp-action="Create" asp-controller="Sermons" class="zmdi zmdi-plus"></i>Add Sermon
    </button>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form asp-action="Edit" method="post">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Edit  Entry</h4>
                    </div>

                    <div class="card-body">
                        <div class="text-right">
                            <a asp-action="Index" class="btn btn-outline-info btn-sm"><i class="glyphicon-hand-left"></i>&nbsp;Back</a>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <h6 class="form-control" style="background-color: #003196;border-style: solid;color: white;border-color: #ff6e68;border-width: 2px;">@Model.LicenseNumber</h6>
                                        </div>
                                    </div>
                                    <input asp-for="@Model.ExpiryDate" type="date" hidden>

                                    <input asp-for="@Model.PersonId" type="text" hidden>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">Country Issued</label>
                                            <input asp-for="CountryIssued" type="text" class="form-control" placeholder="Country Issued">
                                        </div>
                                    </div>
                                    <input asp-for="@Model.LicenseNumber" type="text" hidden>
                                    <input asp-for="@Model.Trn" type="text" hidden>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">License Code</label>
                                            <input asp-for="LicenseCode" type="text" class="form-control" placeholder="License Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Vehicle Restriction</label>
                                            <input asp-for="VehicleRestriction"   class="form-control" placeholder="Vehicle Restriction">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Issue Number</label>
                                            <input asp-for="IssueNumber" type="text" class="form-control" placeholder="Issue Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Driver Restriction</label>
                                            <input asp-for="DriverRestriction" type="text" class="form-control" placeholder="Driver Restriction">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                </div>  <button type="submit" class="btn btn-outline-success btn-sm"><i class="material-icons">save</i>&nbsp;Save</button>
                <a asp-action="Index" class="btn btn-outline-danger btn-sm"><i class="material-icons">cancel</i>&nbsp;Cancel</a>
                <a style="font-size: 9px;" class="btn btn-success btn-sm " asp-action="Delete" asp-route-id="@Model.LicenseNumber">Delete</a>
            </form>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>
 
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
