@model TMSWebPortal.DTO.CrimeDTO
@{
    ViewData["Title"] = "GetCrimes";
}




<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10 mb-4">
        <div class="outer-div">
            <div class="card">
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" ">
                                <div class="header">
                                    <h2 class="h4-title">
                                       Crime Charged
                                    </h2>

                                </div>
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                            <thead>
                                                <tr>
                                                    <th>Crime Code</th>

                                                    <th>Logged By</th>
                                                    <th>Date Created</th>
                                                    <th>License</th>
                                                    <th>Vehicle Registration</th>
                                                    <th>Charge</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr>
                                                    <td>
                                                        @Model.CrimeName
                                                    </td>

                                                    <td>
                                                        @Model.LoggedInUser
                                                    </td>
                                                    <td>
                                                        @Model.DateCreated
                                                    </td>
                                                    <td>
                                                        @Model.LicenseNumber
                                                    </td>
                                                    <td>
                                                        @Model.VehicleRegistrationNumber
                                                    </td>
                                                    <td>
                                                        @Model.CrimeCharge
                                                    </td>


                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-raised btn-success" asp-action="Index" asp-controller="Home">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


  