@model IEnumerable<TMSWebPortal.Models.TMS.TrafficMonitorTransactions>

@{
    ViewData["Title"] = "ManageUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="~/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="~/demo/demo.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
@*<button  class="">
        <i asp-action="Create" asp-controller="Sermons" class="zmdi zmdi-plus"></i>Add Sermon
    </button>*@

 
    <!-- END STATISTIC-->
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title"> Unsettled Crimes related to this Vehicle/License</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-right">
                            <a class="btn btn-raised btn-success mb-2" asp-action="Index" asp-controller="Home">Back to Main Page</a>
                        </div>
                        <table id="table_id" class="table dataTable">
                            <thead>
                                <tr>

                                    <th>Crime Code</th>
                                    <th>Logged By</th>
                                    <th>Date Created</th>
                                    <th>License</th>
                                    <th>Vehicle Registration</th>
                                    <th>Charge</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.CrimeName
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LicenseNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CrimeCharge)
                                        </td>


                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
